@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}
:root {
  --surface: #ffffff;
  --surface-alt: #f8f9fa;
  --border: #e5e7eb;
  --grey: #f3f4f6;

  --text-primary: #1f2937;
  --text-secondary: #6b7280;

  --blue: #3b82f6;
  --red: #ef4444;

  --transition: 0.3s ease-in-out;
}
.dark {
  --surface: #1f1f1f;
  --surface-alt: #2a2a2a;
  --border: #3c3c3c;
  --grey: #2d2d2d;

  --text-primary: #f5f5f5;
  --text-secondary: #c9c9c9;

  --blue: #60a5fa;
  --red: #f87171;

  --transition: 0.3s ease-in-out;
}



:root {
  --poppins: 'Poppins', sans-serif;
  --lato: 'Lato', sans-serif;
  --light: #F9F9F9;
  --blue: #3C91E6;
  --light-blue: #CFE8FF;
  --grey: #eee;
  --dark-grey: #AAAAAA;
  --dark: #342E37;
  --red: #DB504A;
  --yellow: #FFCE26;
  --light-yellow: #FFF2C6;
  --orange: #FD7238;
  --light-orange: #FFE0D3;
}

html {
  overflow-x: hidden;
}

body.dark {
  --light: #0C0C1E;
  --grey: #060714;
  --dark: #FBFBFB;
}

body {
  background: var(--grey);
  overflow-x: hidden;
  font-family: var(--lato);
  transition: background 0.3s ease;
}

.app {
  display: flex;
  min-height: 100vh;
}

