name: Run Django Tests

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r SoftwareBackend/system/backend/requirements.txt

      - name: Run Django Tests
        working-directory: SoftwareBackend/system/backend
        env:
          DJANGO_SETTINGS_MODULE: config.settings
        run: |
          python manage.py migrate --noinput
          python manage.py test accounts
